// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
// Font Variables
$font-poppins:'Poppins', sans-serif!important;
$roboto-slab: 'Roboto Slab', serif !important;   
$open-sans: 'Open Sans', sans-serif;
$cor-body-tex:#636363;
body{
    color: $cor-body-tex;
}

.logo{
    width: 5rem;
    height: auto;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.navbar{
    background-color: #e3f2fd;
    text-transform: uppercase;
    font-family: $font-poppins;
    color: rgb(247, 247, 247);;
    font-weight: bold;
}
.nav-link:hover{
text-shadow: 1px 1px 2px rgb(84, 184, 241), 0 0 1em #eaf4fc, 0 0 0.2em #ebf7ff;
color: rgb(255, 245, 245);
}

.rounded{
   width: 650px;
}

p{
  flex-direction: column;
  flex: auto;
}

$small: 425px;

.smth {
  //some CSS
  @media screen and (max-width: $small) {
    .navbar{
        background-color: #e3f2fd;
        text-transform: uppercase;
        font-family: $font-poppins;
        font-size: 1px!important;
    }
  }
}