.entrada{
    margin:2rem 0;
    padding: 3rem;
    background: var(--gray--600);
    color:var(--green--500);
    font-family: "Roboto";
    border-radius: 10px;
}

.entrada input{
    margin: 0 1rem ;    
}
